*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial,sans-serif;
    background-color: rgb(89, 11, 234);
 }
 .clock{
    font-size: 3rem;
    font-weight: bold;
    border: 2px solid black;
    background-color: brown;
    text-align: center;
 }
 #time{
    font-family: 'Courier New', Courier, monospace;
 }